$bg-body: #060606;
$dark-color: #1f1f1f;
$dark-color-transparency: #1f1f1f33;
$text-color: #fff;
$text-color-transparency: rgba($text-color, 0.6);
$border-color: #464646;

.body--dark {
  .bg-toolbar {
    background-color: #1f1f1f3a;
    backdrop-filter: blur(10px);
  }

  .bg-body {
    background-color: $bg-body !important;
  }

  .bg-body-background {
    // backdrop-filter: blur(10px);
    background-color: #000000a3;
  }

  .bg-solid {
    background-color: #1b1b1b;
  }

  .bg-grey-form {
    background-color: #000;
  }

  .bg-body-table {
    background-color: $bg-body;
  }

  .bg-body-table-dark-color {
    background-color: $dark-color;
  }

  .bg-desenfoque-0 {
    background-color: rgba($dark-color, 0.1);
    backdrop-filter: blur(10px);
  }

  .bg-desenfoque {
    background-color: rgba($dark-color, 0.8);
    backdrop-filter: blur(10px);
  }

  .bg-desenfoque-2 {
    background-color: rgba($grey-10, 0.4) !important;
    backdrop-filter: blur(10px) !important;
  }

  .bg-header-collapse {
    background-color: $bg-body;
  }

  .bg-border {
    background-color: $text-color-transparency;
  }

  .bg-drawer {
    background-color: $dark-color;
  }

  .bg-icon {
    background-color: $border-color;
  }

  .color-icon-navbar {
    color: $grey-2;
  }

  .text-color {
    color: #fff;
  }

  // Tabs
  .tab-active {
    background-color: $dark-color;
    color: $text-color;
    border-radius: 16px;
    border: 1px solid rgba($text-color-transparency, 0.4);
  }

  .tab-inactive {
    background-color: transparent !important;
    color: rgba(255, 255, 255, 0.6);
    border-radius: 16px;
  }

  // Toggle
  .toggle-button {
    border: 1px solid $positive;
    background-color: $bg-body;
  }

  .toggle-button-grey {
    border: 1px solid $grey;
    background-color: #000;
  }

  .toggle-button-positive {
    border: 1px solid $positive;
    background-color: transparent;
    background-color: rgba($dark-color, 0.8);
    backdrop-filter: blur(10px);
  }

  // Tabla
  .q-table__top,
  .q-table__bottom {
    box-shadow: rgba(30, 58, 138, 0.25) 1px 2px 20px;
    border: 1px solid rgba(255, 255, 255, 0.4);
  }

  th:first-child {
    border-left: 1px solid rgba(255, 255, 255, 0.4);
  }

  th:last-child {
    border-right: 1px solid rgba(255, 255, 255, 0.4);
  }

  .q-table__top,
  thead tr:first-child th {
    background-color: $dark-color;
    color: #fff;
  }

  .borde-header-tabla {
    border-top: 1px solid $border-color;
    border-left: 1px solid $border-color;
    border-right: 1px solid $border-color;
    border-radius: 8px 8px 0 0;
  }

  .q-card,
  .q-menu {
    box-shadow: #000 0px 8px 24px;
    border: 1px solid $border-color;
  }

  .custom-shadow {
    box-shadow: 0px 10px 60px -10px rgba(#000, 1) !important;
  }

  // Loading
  .loading-background {
    position: absolute;
    top: 0;
    left: 0;
    background-color: $dark-color;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }

  // Input
  .q-field .q-field__inner {
    // text-transform: uppercase;
    background-color: $bg-body;
    border-radius: 8px;
  }

  .q-field--disabled .q-field__inner {
    background-color: #474e5933;
  }

  // EssentialTableTabs
  .bg-table-tabs {
    background-color: $dark-color;
  }

  // Scroll table
  /* .q-virtual-scroll {
    &::-webkit-scrollbar {
      width: 10px;
      height: 10px;
      background-color: $bg-body;
      border-radius: 16px;
    }

    &::-webkit-scrollbar-thumb {
      background: $border-color;
      border-radius: 50px;
    }
  } */

  // Menu item drawer
  .link-active {
    background: linear-gradient(
      180deg,
      rgba(75, 46, 131, 1) 0%,
      rgba(30, 58, 138, 1) 100%
    );
    border-radius: 8px;

    i {
      color: white;
    }

    /* .q-item__label {
      font-weight: bold;
    } */
  }

  .color-icono {
    color: white;
    background: linear-gradient(
      180deg,
      rgba(75, 46, 131, 1) 0%,
      rgba(30, 58, 138, 1) 100%
    );
    padding: 6px;
    border-radius: 4px;
  }

  // Botones tabla
  .bg-btn-table {
    background-color: $grey-10;
  }

  // Shadow menu
  .q-card,
  .q-menu {
    box-shadow: rgba(#fff, 0.052) 0px 8px 24px;
  }

  // Expansion
  .expansion {
    border-radius: 8px;
    border: 1px solid $border-color;
    background-color: $dark-color;
  }

  // Drawer
  .border-right {
    border-right: 1px dashed $grey-8;
  }

  .border-bottom {
    border-bottom: 1px solid $grey-8;
  }

  .border-white {
    border: 1px solid $grey-8 !important;
  }

  // background
  ul.circles {
    background: linear-gradient(
      180deg,
      rgba($bg-body, 0.7) 70%,
      rgba($bg-body, 0.9) 100%
    ) !important;
  }

  // Card capas
  .card-capas {
    background: $dark-color;
    border-radius: 12px;
    position: relative;
    transition: transform 0.3s ease;
  }
  
  .card-capas::before,
  .card-capas::after {
    content: '';
    position: absolute;
    background: white;
    border-radius: 12px;
    z-index: -1;
  }
  
  /* Middle card layer */
  .card-capas::before {
    width: 94%;
    height: 100%;
    bottom: -10px;
    left: 3%;
    // background: rgba(255, 255, 255, 0.8);
    background-color: rgba(230, 231, 240, 0.5);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  /* Bottom card layer */
  .card-capas::after {
    width: 88%;
    height: 100%;
    bottom: -20px;
    left: 6%;
    z-index: -10;
    // background: rgba(255, 255, 255, 0.6);
    background-color: rgba(230, 231, 240, 0.5);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  /* Top card styling and shadow */
  .card-capas {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
}
